/* blue and orange */
$bg-color: #457076;
$title-color: #EAB86F;
$text-color: #143141;

/* beige and red */
// $bg-color: #fcf3e2;
// $title-color: #e84326;

/* light beige and orange red */
// $bg-color: #f1f1eb;
// $title-color: #df4125;
