/* blue and orange */
$bg-color: #457076;
$card-color:#ffc772;
$title-color: #ffc772;
$text-color: #143141;

/* beige and red */
// $bg-color: #fcf3e2;
// $title-color: #e84326;
// $text-color: #143141;

/* light beige and orange red */
// $bg-color: #f1f1eb;
// $title-color: #df4125;
// $text-color: #143141;
