@mixin content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin content-center-flexend{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin content-center-flexstart{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin content-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin content-space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin content-left-align {
  display: flex;
  justify-content: left;
}
