@mixin content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin content-center-flexend{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin content-center-flexstart{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin content-spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
