/* blue and orange */
/* beige and red */
/* light beige and orange red */
.nav {
  position: sticky;
  top: 0;
  background-color: #3b929d;
}
.nav a {
  font-size: 1.25rem;
  margin: 0 20px;
  padding-bottom: 4px;
  font-family: "Barlow", sans-serif;
  color: #143141;
  text-decoration: none;
}
.nav a:hover {
  color: #143141;
  margin-top: 1px;
  border-bottom: 1px solid #143141;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 80px;
}

header {
  background-color: #3b929d;
}

.header-title {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
  height: 600px;
}

#about {
  width: 100%;
  height: 100%;
}

.about__title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.about__intro {
  text-align: end;
  width: 80%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#projects {
  height: 100%;
  width: 100%;
}

#my-work {
  width: 80%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.project {
  height: 100%;
}
.project__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 4rem;
}
.project__gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.project__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0.25, 0.25) 0px 1px 12px;
  flex-direction: column;
  line-height: 2px;
  border-radius: 4%;
  height: 18rem;
  width: 16rem;
}
.project__card p {
  padding-top: 0;
  font-size: 1rem;
  font-style: italic;
}
.project__card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}
.project__cover img {
  border-radius: 2%;
  padding-bottom: 0.25rem;
  height: 12rem;
  width: 16rem;
}

.fill-div {
  display: block;
  height: 100%;
  text-decoration: none;
}

#contact {
  background-color: #3b929d;
  height: 30rem;
  padding-top: 10rem;
  width: 100%;
}

.contact__info {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 100%;
  height: 300px;
  padding-left: 5rem;
}
.contact__info a {
  padding-left: 0.5rem;
}
.contact__info a i {
  padding-right: 0.5rem;
}
.contact__info a:hover {
  color: rgb(214, 215, 223);
}
.contact__picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__picture img {
  margin-top: 2rem;
  transform: scale(1.2);
  width: 250px;
  height: 250px;
  box-shadow: #f8ba5d -35px -35px;
}

#my-stack {
  width: 100%;
  height: 100%;
}

#tech-stack {
  width: 80%;
  padding-bottom: 5rem;
}

.skills__gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.skills__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  padding-top: 2rem;
  font-size: 50px;
  color: #143141;
}
.skills__icon p {
  opacity: 0;
  font-size: 0.95rem;
  text-align: center;
}
.skills__icon:hover {
  transform: scale(1.15);
}
.skills__icon:hover p {
  transition: 0.3s;
  opacity: 1;
}

body {
  margin: 0;
}

h1 {
  font-family: "Lora", serif;
  color: #f8ba5d;
  font-size: 4rem;
}

h2 {
  font-family: "Lora", serif;
  color: #f8ba5d;
  font-size: 2rem;
}

h3, a, p {
  color: #143141;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
}

.container {
  width: 80%;
  display: flex;
  justify-self: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
