@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


.about-title {
  @include mixins.content-center-flexend;
  width: 100%;
}

.about-intro {
  text-align: end;
  width: 80%;
  height: 400px;
  padding-top: 200px;
}
