@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-query" as q;


#about {
  width: 100%;
  height: 100%;
}

.about__title {
  @include mixins.content-center-flexend;
  width: 100%;
}

.about__intro {
  text-align: end;
  width: 80%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
