@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-query" as q;


#contact {
  background-color: colors.$bg-color;
  height: 30rem;
  padding-top: 10rem;
  height: 100%;
  width: 100%;
}

.contact {

  &__gallery {
    @include mixins.content-space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    padding-bottom: 6.5rem;
  }
  &__picture{
    @include mixins.content-center;

    img {
      margin-top: 1rem;
      transform:scale(1.2);
      width:14rem;
      height:14rem;
      box-shadow: colors.$title-color -35px -35px;
    }
  }
  &__info {
      @include mixins.content-left-align;
      flex-direction: column;
      font-size: 1.25rem;
      line-height: 3rem;
      height: 20rem;
      padding-left: 5rem;
      a {
        padding-left: 0.5rem;
        i {
          padding-right: 0.5rem;
        }
        &:hover {
          color: rgb(214, 215, 223);
        }
      }
  }
}

@include q.sm-screen {
  .contact {
    &__info {
      @include mixins.content-center;
      padding-left: 0;
    }
  }
}
