@use "../partials/colors";
@use "../partials/fonts";

h1 {
  font-family: fonts.$main-heading;
  color: colors.$title-color;
  font-size: 4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
