@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

header {
  background-color: colors.$bg-color;
}

.header-title {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
  height: 600px;
}
