@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


.nav {
  position: sticky;
  top: 0;
  background-color: colors.$bg-color;
  a {
    font-size: 1.25rem;
    margin: 0 20px;
    padding-bottom: 4px;
    font-family: fonts.$normal-text;
    color: colors.$text-color;
    text-decoration: none;
    &:hover {
      color: colors.$text-color;
      margin-top: 1px;
      border-bottom: 1px solid colors.$text-color;
    }
  }
}

.nav-title {
  @include mixins.content-center-flexstart;
  width: 20%;
}

.links {
  @include mixins.content-center-flexend;
  width: 80%;
  height: 80px;
}
