@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-query" as q;

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: colors.$bg-color;
  a {
    font-size: 1.25rem;
    margin: 0 20px;
    padding-bottom: 4px;
    font-family: fonts.$normal-text;
    color: colors.$text-color;
    text-decoration: none;
    &:hover {
      color: colors.$text-color;
      margin-top: 1px;
      border-bottom: 1px solid colors.$text-color;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: colors.$text-color;
}

.toggle-menu {
  display: none; // Hide the checkbox
}

.links {
  @include mixins.content-center-flexend;
  width: 80%;
  height: 80px;
}


@include q.sm-screen {
  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    a {
      display: block;
      width: 100%;
      &:hover {
        border: none;
      }
      &:target {
        display: none;
      }
    }
  }

  #toggle-menu:checked ~ .links {
    display: block;
  }
  .hamburger {
    display: block;
    margin-left: auto;
    padding-top: 1rem;
  }

  #toggle-menu:checked + .hamburger {
    display: none;
  }
}
