@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-query" as q;


#projects {
  height: 100%;
  width: 100%;
}

#my-work{
  width: 80%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.project {
  height: 100%;
  &__title {
    @include mixins.content-center-flexstart;
    width: 100%;
    padding-bottom: 4rem;
  }
  &__gallery {
  @include mixins.content-space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  }
  &__card {
    @include mixins.content-center-flexstart;
    box-shadow: rgba(0, 0, 0.25, 0.25) 0px 1px 12px;
    flex-direction: column;
    line-height: 2px;
    border-radius: 4%;
    height: 18rem;
    width: 16rem;
      p {
        padding-top: 0;
        font-size: 1rem;
        font-style: italic;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
      }
    }
  &__cover {
    img {
      border-radius: 2%;
      padding-bottom: 0.25rem;
      height: 12rem;
      width: 16rem;
    }
  }
}

.fill-div {
  display: block;
  height: 100%;
  text-decoration: none;
}
